<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="link-container">
      <a href="/new" class="link">Fill Out The Form Here</a>
    </div>
    <div>
      <% if(messages.length===0){%>
      <p class="message-null">No available users. Fill the <a href="/new" class="link">form</a> to add more users.</p>
      <%}else {%>
      <div class="messages">
        <% messages.forEach(function(message) { %>
        <div class="message-card">
          <p class="message-text"><%= message.text %></p>
          <p class="message-user">From: <%= message.username %></p>
          <p class="message-date">
            Added: <%= message.added.toLocaleDateString() %>
          </p>
          <form action="/delete/<%= message.id %>" method="post">
            <button type="submit">Delete</button>
          </form>
        </div>
        <% }); %>
      </div>
      <%}%>
    </div>
  </body>
</html>
